ue1 {
font-size:            300%;
color:                white;
}

#banner {
margin-top:           25px;
background-color:     black;
border:               solid grey 3px;
width:                331px;
height:               60px;
}
