body {
background-color:     white;
}

ue1 {
font-size:            300%;
color:                white;
}

a {
color:                white;
}

#banner {
margin-top:           20px;
margin-bottom:        25px;
background-color:     #1c2d5e;
border:               solid grey 3px;
width:                331px;
height:               60px;
position:             relative;
}

#header {
border:               solid black 1px;
height:               110px;
width:                auto;
position:             relative;
}

#banner2 {
background-color:     #1c1c1c;
width:                auto;
height:               40px;
}

#bodydiv {
border:               solid black 1px;
height:               800px;
width:                auto;
position:             relative;
}
