
body {
    /*background-color: #242d33;*/
    background-color: white;
}

a1 {
    font-family: 'Monaco';
    font-style: normal;
    font-size: 24px;
    color: #a4a4a4;
}

#jouzoo1 {
    position: absolute;
    left: 50%;
}

#jouzoo2 {
    margin-top: 140px;
    position: relative;
    left: -50%;
    opacity: 0.13;
}

#hid1 {
    position: absolute;
    left: 50%;
}

#hid2 {
    opacity: 0.8;
    left: -50%;
    margin-top: 310px;
    position: relative;
}

#btn1 {
    position: absolute;
    left: 50%;
}

#btn2 {
    left: -50%;
    margin-top: 400px;
    position: relative;
}

.btn {
  border-radius: 60px;
  font-family: 'Monaco';
  font-size: 10px;
  padding: 5px 25px 5px 25px;
  border: solid #000000 1px;
}
