ue1 {
font-size:            300%;
color:                white;
}

#banner {
margin-top:           25px;
margin-bottom:        25px;
background-color:     black;
border:               solid grey 3px;
width:                331px;
height:               60px;
position:             absolute;
}

#header {
background-color:     light-grey;
opacity:              0.5;
border:               solid black 1px;
height:               110px;
width:                700px;
position:             relative;
}
